/* Minimalist CSS following first principles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  line-height: 1.6;
  color: #141414;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

/* Container */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left; /* Center content horizontally */
}

/* Links */
a {
  font-weight: 300;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

a:hover {
  font-weight: 700;
}

/* Header */
header {
  padding: 1.5rem 1.5rem; /* 1.5rem */
  border-bottom: 1px solid #dbe2e3;
  width: 100%;
  z-index: 100;
  max-width: 1000px;
}

header .container {
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5rem; /* 1.5rem */
  font-weight: 600;
  letter-spacing: -0.5px;
}

.logo a {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  padding: 0.25rem 0; /* 0.25rem */
}

.logo a:hover {
  transform: translateY(-2px);
}

.logo a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: bottom right;
}

.logo a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 1.5rem; /* 1.5rem */
}

.nav-links a {
  position: relative;
}

.nav-links a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #333;
  transition: width 0.3s ease;
}

.nav-links a:hover:after {
  width: 100%;
}

.menu-btn {
  display: none;
  font-size: 1.5rem; /* 1.5rem */
  cursor: pointer;
}

/* Hook Section */
#hook {
  padding: 1.5rem 1.5rem; /* 1.5rem */
  margin: 1.5rem 0;
}

#hook h1 {
  font-size: 2rem;
}

/* Experience Section */
#experience {
  padding: 1.5rem 1.5rem; /* 1.5rem */
}

.section-title {
  font-size: 1.25rem; /* 2rem */
  margin-bottom: 24px; /* 3rem */
  text-align: left;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0; /* Add padding for better spacing */
}

.timeline-item {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between content and project folder */
  align-items: center; /* Center items vertically */
  margin: 1.5rem 0; /* Space between items */
  padding: 1rem 1.5rem 1.5rem 1.5rem; /* Padding inside each item */
  background: #f9f9f9; /* Light background for items */
  border-radius: 6px; /* Rounded corners */
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* Subtle shadow */
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for text color and box shadow */
  border-color: #000;
  border: 0.15rem solid;
}

.timeline-item:hover {
  transform: scale(1); /* Slightly enlarge on hover */
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 1); /* Subtle shadow */
  box-shadow: inset 12px 12px 0px rgba(0, 0, 0, 0.2); /* Inner shadow */
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 1),
    inset 3px 3px 0 rgba(255, 255, 255, 0.5); /* Outer and inner shadows */
  transform: translateY(-6px);
}

/* Specific hover colors for each organization */
.timeline-item:nth-child(1):hover {
  background-color: rgba(124, 82, 255, 0.5);
}

.timeline-item:nth-child(2):hover {
  background-color: rgba(230, 0, 0, 0.5);
}

.timeline-item:nth-child(3):hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.timeline-item:nth-child(4):hover {
  background-color: rgba(255, 87, 5, 0.5);
}

.timeline-item:nth-child(5):hover {
  background-color: rgba(58, 29, 149, 0.5);
}

.timeline-item:nth-child(6):hover {
  background-color: rgba(255, 95, 45, 0.5);
}

/* just for reference
.timeline-item:nth-child(6):hover .timeline-company,
.timeline-item:nth-child(6):hover .timeline-date {
  color: #ff5f2d; /* Change company and date color to GlobalLogic brand color }
  */

.timeline-header {
  display: flex; /* Enable flexbox */
  justify-content: space-between; /* Align items to opposite sides */
  align-items: center; /* Center items vertically (optional) */
}

.timeline-title {
  font-size: 1.5rem; /* Larger title font */
  font-weight: 700; /* Bold for emphasis */
  height: auto;
}

.case-study-link a {
  text-decoration: none; /* Remove underline from link */
  color: #0072c6; /* Change color as needed */
}

.timeline-date {
  font-size: 1rem;
  font-style: italic; /* Italic style for date */
  color: #4b4b4b; /* Darker color for date */
  margin-bottom: 4px;
}

.timeline-company {
  font-size: 1.25rem; /* Slightly smaller than title */
  font-weight: 500; /* Medium weight for organization name */
  color: #444444; /* Muted color for organization name */
  margin-bottom: 4px; /* Space below organization name */
}

.timeline-location {
  font-size: 0.9rem; /* Smaller font for location */
  color: #555; /* Gray color */
}

.timeline-description {
  font-size: 1rem; /* Description font size */
  line-height: 1.6; /* Line height for readability */
  width: 100%;
}

.timeline-content {
  flex: 1; /* Allow content to take available space */
}

/* Optional: Add a scrollbar style for better appearance */
.timeline::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.timeline::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.timeline::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* Darker color on hover */
}

/* Footer */
footer {
  padding: 1.5rem 1.5rem; /* 1.5rem */
  text-align: center;
  border-top: 1px solid #eee;
  width: 100%;
  background: #fff;
  font-size: 0.9rem; /* 0.9rem */
  max-width: 1000px;
}

.social-links {
  margin-top: 10px; /* Space above the links */
}

.social-links a {
  color: #000; /* Default color for links */
  text-decoration: none; /* Remove underline */
  margin: 0 10px; /* Space between links */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Default hover color for social links */
.social-links a:hover {
  color: #0072c6; /* Default hover color for other links */
}

/* Specific hover colors for each link */
.social-links a[href*="instagram"]:hover {
  color: #e1306c; /* Instagram hover color */
}

.social-links a[href*="linkedin"]:hover {
  color: #0077b5; /* LinkedIn hover color */
}

.social-links a[href*="dribbble"]:hover {
  color: #e94e77; /* Dribbble hover color */
}

.social-links a[href*="behance"]:hover {
  color: #1769ff; /* Behance hover color */
}

.social-links a[href*="github"]:hover {
  color: #333; /* GitHub hover color */
}

.social-links a[href*="discord"]:hover {
  color: #7289da; /* Discord hover color */
}

.social-links a[href*="spotify"]:hover {
  color: #1db954; /* Spotify hover color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background: #fff;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    z-index: 100;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 0.75rem 0; /* 0.75rem */
  }

  #hook h1 {
    font-size: 2rem; /* 2.5rem */
  }

  #hook p {
    font-size: 1.1rem; /* 1.1rem */
  }

  .cta-buttons {
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    width: 100%;
  }

  /* Timeline responsive */
  .timeline::before {
    left: 40px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .timeline-item:nth-child(odd) {
    text-align: left;
  }

  .timeline-item:nth-child(even) {
    left: 0;
  }

  .timeline-dot {
    left: 34px;
    right: auto;
  }

  .timeline-item:nth-child(even) .timeline-header {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  #hook {
    padding: 1.5rem 1.5rem; /* 4rem */
  }

  #hook h1 {
    font-size: 2rem; /* 2rem */
  }

  #hook p {
    font-size: 1rem; /* 1rem */
  }

  .logo {
    font-size: 1.5rem; /* 1.5rem */
  }

  .timeline-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-item:nth-child(even) .timeline-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeline-location {
    margin-top: 5px;
  }
}

.project-folder {
  margin-left: 20px; /* Space between content and project folder */
  display: block; /* Hide by default */
  visibility: hidden;
  font-size: 1rem; /* Font size for the link */
  color: #0072c6; /* Color for the link */
  text-decoration: none; /* Remove underline */
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

.timeline-item:hover .project-folder {
  display: block; /* Show on hover */
  visibility: visible;
}

/* Projects Section */
.projects {
  display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 20px; /* Space between items */
  margin-bottom: 20px; /* Reduced margin to create less space between project rows */
}

.project-item {
  flex: 1 1 300px; /* Allow items to grow and shrink, with a base width of 300px */
  background: #f9f9f9; /* Light background for items */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  padding: 20px; /* Padding inside each item */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.project-item:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
}

.project-item a {
  display: block; /* Make the anchor tag a block element */
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

.company-logo {
  width: 18px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 4px;
  margin-bottom: 4px; /* Space between logo and text */
  vertical-align: middle; /* Align logo with text */
}

.title-container {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Space between title and badge */
  align-items: center; /* Center items vertically */
}

.badge {
  background-color: #9ef500; /* Badge background color */
  color: rgb(0, 0, 0); /* Text color */
  padding: 0.3rem 1.5rem; /* Padding around the text */
  border-radius: 4px; /* Rounded corners */
  font-size: 0.8rem; /* Font size */
  font-style: normal;
  margin-left: 1rem; /* Space between title and badge */
  vertical-align: middle; /* Align with text */
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
  border: 1.5px solid black;
}

.badge:hover {
  box-shadow: 12px 12px 0px rgba(0, 0, 0, 1);
}

.custom-bullets {
  list-style: disc; /* Remove default bullets */
  padding-left: 1rem; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.custom-bullets li {
  position: relative; /* Position for custom bullet */
  padding-left: 0.5rem; /* Space for custom bullet */
  margin-bottom: 0.5rem; /* Space between list items */
}

.blog-container {
  padding: 1.5rem;
}

.blog-post {
  display: flex;
  font-weight: 100;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1.5rem; /* Padding inside each item */ /* Adjust padding as needed */
  background: #f9f9f9; /* Light background for the blog section */
  border-radius: 6px; /* Rounded corners */
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 1); /* Subtle shadow */
  margin-top: 1.5rem; /* Space above the blog section */
  border: 1.5px solid black;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition for text color and box shadow */
}

.blog-post:hover {
  background-color: #9ef500; /* Badge background color */
  box-shadow: 12px 12px 0;
  transform: translateY(-6px);
}

.blog-header {
  display: flex; /* Enable flexbox for header */
  justify-content: space-between; /* Space between title and thumbnail */
  align-items: center; /* Center items vertically */
}

.blog-title {
  flex: 1; /* Allow title to take available space */
}

.blog-thumbnail {
  width: auto; /* Set width for thumbnail */
  height: auto; /* Set height for thumbnail */
  overflow: hidden; /* Hide overflow */
  align-items: center;
}

.blog-thumbnail img {
  width: auto; /* Make image responsive */
  height: 100%; /* Maintain aspect ratio */
}

.blog-subtitle {
  margin: 0rem 0; /* Space above and below subtitle */
}

.blog-footer {
  display: none;
}

.blog-date,
.blog-keywords {
  font-size: 0.9rem; /* Smaller font size for date and keywords */
  color: #666; /* Gray color for text */
}
.blog-link {
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit text color from parent */
  display: block; /* Make the anchor tag a block element */
  border-radius: 6px; /* Optional rounded corners */
  transition: background 0.3s; /* Smooth transition for hover effect */
}
