@import "tailwindcss";
@tailwind utilities;

body {
  font-family: "JetBrains Mono Variable", monospace;
  background-color: var(--color-black);
  color: white;
}

body a {
  cursor: pointer;
}

::selection {
  background-color: var(--color-amber-500);
  color: black;
}

h1 {
  line-height: var(--leading-relaxed);
}
